In [1]:
import pandas as pd
df=pd.DataFrame(columns=['name','age','percentage'])
df

Empty DataFrame
Columns: [name, age, percentage]
Index: []

In [2]:
df.loc[0]=['gaurav',20,80]
df.loc[1]=['mahesh',20,80]
df

     name  age  percentage
0  gaurav   20          80
1  mahesh   20          80

In [3]:
data=[['gaurav',21,80],['mahesh',20,90]]
import pandas as pd
df=pd.DataFrame(data,columns=['name','age','percentage'])
(df)

     name  age  percentage
0  gaurav   21          80
1  mahesh   20          90

In [4]:
df.shape

(2, 3)

In [5]:
df.size

6

In [6]:
df.size

6

In [11]:
df.dtypes

name          object
age            int64
percentage     int64
dtype: object